$orange: #EDAD61;	/* top part */
$white: #FFFFFF;	/* white text color */
$grey: #A2ABBD;	/* grey text color */
$bb: #4D505C;	/* bottom border color */
$bgc: #30303B; /* background color of all */
$bgb: #22222B; /* background color of bottom part - footer */
$contc: #21212B;	/* container color */

$hel: Helvetica Neue;