@import '_mixin';

* {
	box-sizing: border-box;
	margin: 0;
	
	body {
		font-family: $hel;
		font-size: 44px;
		width: 1600px;
		height: 1200px;
		margin: 0 auto;

		.flex {
			display: flex;
		}

		.flexCenter {
			justify-content: center;
			align-items: center;
		}

		.container {
			background-color: $contc;
		
			.radio {
				display: inline-block;
				width: 640px;
				height: 1100px;
				background-color: $bgc;
				margin: 50px 50px;
				position: relative;

				header {
					display: flex;
					height: 160px;
					width: 100%;
					background-color: $orange;
					color: $white;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 0;

					p {
						text-transform: uppercase;
						display: inline-block;
						padding: 0 140px;
					}

					img {
						display: inline-block;
					}


					.left: {
						float: left;
					}

					.right {
						float: right;
					}
				}

				.middle {
					display: inline-block;
					padding-top: 210px;
				}

				.middle table tbody tr {
					width: 100%;
					height: 100%;
				}

				.middle {
					width: 100%;
					display: block;

					table {
						width: 100%;
					}
				}

				.middle table tbody tr td {
					display: block;
					color: $grey;
					border-bottom: solid 2px $bb;
					padding: 50px 40px 30px;
					width: 100%;
					margin: 0;
					
					+ td + td + td + td {
						border-bottom-style: none;
					}

					span {
						float: right;
					}
				}

				footer {
					width: 100%;
					height: 160px;
					background-color: $bgb;
					position: absolute;
					bottom: 0;
					border-top: 2px solid $bb;
				}
			}
		}
	}
}