@import '_mixin';

* {
	box-sizing: border-box;
	margin: 0;
	
	body {
		font-family: $hel;
		font-size: 44px;
		width: 1600px;
		height: 1200px;
		margin: 0 auto;

		.flex {
			display: flex;
		}

		.flexCenter {
			justify-content: center;
			align-items: center;
		}

		.container {
			background-color: $contc;
		
			.radio {
				display: inline-block;
				width: 640px;
				height: 1100px;
				background-color: $bgc;
				margin: 90px 50px;
				position: relative;

				header {
					display: flex;
					height: 160px;
					width: 100%;
					background-color: $orange;
					color: $white;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 0;
					border-top-left-radius: 50px;
					border-top-right-radius: 50px;

					p {
						text-transform: uppercase;
						display: inline-block;
						padding: 0 140px;
					}

					.left: {
						float: left;
					}

					.right {
						float: right;
					}

					i {
						font-size: 60px;
					}
				}

				.middle {
					padding-top: 160px;
					width: 100%;
					display: block;
					background-color: $contc;

					table {
						width: 100%;
						background-color: $bgc;

						tbody tr {
						width: 100%;
						height: 100%;
						
							td {
							display: block;
							color: $grey;
							border-bottom: solid 2px $bb;
							padding: 50px 0 30px;
							margin: 0 40px;

								+ td + td + td + td {
									border-bottom-style: none;
								}

								.row {
									padding-bottom: 20px;
									display: flex;
									justify-content: center;
									align-items: center;


									.volume {
										width: 12%;
									}

									.planet {
									width: 40%;
									margin: 0 90px;
									}
								}

								.disable {
									display: none;
								}

								p {
									display: block;
								

								}

								span {
									float: right;
								}						
							}
						}
					}
				}

				footer {
					width: 100%;
					height: 160px;
					background-color: $bgb;
					position: absolute;
					bottom: 0;
					border-top: 2px solid $bb;
					border-bottom-left-radius: 50px;
					border-bottom-right-radius: 50px;

						div {
							display: none;

							p {
								display: block;
							}

							.cp {
								color: $orange;
								text-transform: uppercase;
								font-size: 22px;
							}

							.input {
								color: $grey;
								font-size: 44px;
							}
						}
				}
			}
		}
	}
}